<section class="trabalhe-section">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between gap-4">
      <div class="imagem">
        <img src="/men.png" alt="Profissional Atset" class="img-fluid" />
      </div>
  
      <div class="conteudo text-white">
        <h3 class="titulo">Trabalhe Conosco</h3>
        <p class="mensagem">
          <strong>Valorizamos pessoas talentosas e apaixonadas por tecnologia.</strong><br />
          Se você busca crescer, aprender e fazer parte de um time que entrega inovação todos os dias, envie seu currículo e venha construir o futuro com a gente.
        </p>
        <button class="btn-contato">Ver vagas</button>
      </div>
    </div>
  </section>
  