<footer class="footer-section">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-start gap-4">
      <div>
        <p><strong>Rua príncipe regente, 18/19/20 – jardim imperial</strong><br />
        CEP 74914-645</p>
        <p>
          <strong>+55 62 992957419</strong><br />
          <a href="mailto:Alvim.lopez&#64;gmail.com">Alvim.lopez&#64;gmail.com</a>
        </p>
        <div class="social-icons mt-2 d-flex gap-3">
          <a href="#"><img src="/instagram.png" alt="Instagram" /></a>
          <a href="#"><img src="/social.png" alt="LinkedIn" /></a>
        </div>
      </div>
  
      <div class="text-center">
        <img src="/logoBr.png" alt="Logo Atset" class="logo-footer mt-2" />
      </div>
  
      <div class="text-md-end text-center copyright">
        <p>© 2025 Atset, todos os direitos reservados</p>
      </div>
    </div>
  </footer>
  