<section class="tecnologias-section">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center flex-wrap gap-4">
      <div class="titulo-tecnologias">
        <div class="linha-1">Tecno</div>
        <div class="linha-2">logias</div>
      </div>
  
      <div class="descricao text-center text-md-start">
        <p class="frase">
          <strong>Trabalhamos com as tecnologias mais modernas</strong><br />
          para entregar soluções <strong>robustas, escaláveis e sob medida.</strong>
        </p>
  
        <div class="logos mt-3 d-flex flex-wrap justify-content-center justify-content-md-start align-items-center gap-4">
          <img src="/java.png" alt="Java" />
          <img src="/angular.png" alt="Angular" />
          <img src="/boostrap.png" alt="Bootstrap" />
          <img src="/node.png" alt="Node.js" />
          <img src="/spring.png" alt="Spring" />
          <img src="/oraclepp.png" alt="Oracle" />
        </div>
      </div>
    </div>
  </section>
  